{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "warn",
    "no-nested-ternary": "warn",
    "no-unused-vars": "warn",
    "no-shadow": "warn",
    "react/no-unused-prop-types": "warn",
    "no-underscore-dangle": "warn",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "import/no-cycle": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "no-use-before-define": "off",
    "no-param-reassign": "warn",
    "react/no-unstable-nested-components": "warn",
    "jsx-a11y/alt-text": "warn",
    "react/no-array-index-key": "warn",
    "array-callback-return": "warn",
    "no-lone-blocks": "warn",
    "no-unsafe-optional-chaining": "warn",
    "no-empty-pattern": "warn",
    "no-empty": "warn",
    "react/require-default-props": "warn",
    "no-useless-concat": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "import/no-extraneous-dependencies": "warn",
    "react/jsx-key": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/display-name": "warn",
    "react/jsx-no-constructed-context-values": "warn",
    "react/prefer-stateless-function": "warn",
    "react/jsx-no-bind": "warn",
    "import/order": "warn",
    "import/extensions": "warn",
    "react/no-unescaped-entities": "warn",
    "react/sort-comp": "warn",
    "import/no-unresolved": "warn",
    "jsx-a11y/iframe-has-title": "warn",
    "no-const-assign": "warn",
    "react/jsx-no-target-blank": "warn",
    "react/destructuring-assignment": "warn",
    "no-unused-expressions": "warn",
    "react/no-children-prop": "warn"
    // defaultProps rule to be deprecated on function components
    // https://github.com/reactjs/rfcs/pull/107
  }
}