{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "warn",
    "no-nested-ternary": "warn",
    "no-unused-vars": "warn",
    "no-shadow": "warn",
    "react/no-unused-prop-types": "warn",
    "no-underscore-dangle": "warn",
    "import/prefer-default-export": "warn",
    // defaultProps rule to be deprecated on function components
    // https://github.com/reactjs/rfcs/pull/107
    "react/require-default-props": [
      "error",
      {
        "ignoreFunctionalComponents": true
      }
    ]
  }
}